#palyer{
	background-color: #aaccff;
	width: 75%;
}
#video {
    width: 100%;
    height: 100%;
}
#shen {
    margin: 0px;
    height: 5px;
    background-color: red;
}

#qian {
    height: 5px;
    width: 0%;
    background-color: green;
}
#screen-button{
    position: absolute;
    top: 226px;
    left: 450px;
    display: none;

}
img {
    background-color: rgb(70, 70, 70);
}

img:hover {
    background-color: rgb(50, 170, 220);
}

img,#pbar-container,#sbar-container {
    cursor: pointer;
}
#buttons-container {
    height: 50px;
    background-color: #1e1e1e;
}

#buttons-container > * {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 10px;
}

#time-field {
    color: rgb(50, 170, 220);
    line-height: 50px;
    cursor: default;
}

#sbar-container {
    width: 100px;
    height: 5px;
    background-color: rgb(70, 70, 70);
    margin-left: 0;
}

#sound-button {
    margin-right: 0;
}

#sbar {
    height: 100%;
    width: 100%;
    background-color: rgb(50, 170, 220);
}

#fullscreen-button {
    float: right;
}